@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=PT+Sans+Narrow&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "PT Sans Narrow", "Noto Sans TC", sans-serif;
    @apply text-sm text-gray-700;
  }

  button {
    @apply transition-[background] duration-500 font-bold;
  }

  input:focus-visible {
    @apply border-2 outline-none border-sky-500 rounded;
  }

  .winner-container .active {
    @apply bg-sky-500 text-white;
  }

  .loser-container .active {
    @apply bg-red-600 text-white;
  }

  .modal,
  .modal-backdrop {
    @apply pointer-events-none;
  }

  .show .modal-body {
    @apply !pointer-events-auto;
  }
}

button.bao {
  /* position: absolute; */
  @apply text-white;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;
  animation: rainbow 5s ease infinite;
}


@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
